.about {
  padding-top: 1px;
  padding-bottom: 10px;
}

.about__title {
  margin-top: 33px;
  margin-bottom: 0;
  .font-title-section;
}

.about__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about__item {
  position: relative;
  padding-top: 84px;
  .font(17px, @text-color-black, bold, 20px);

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 0;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
  }
}

.about__item--flower::before {
  left: 8px;
  width: 32px;
  height: 39px;
  background-position: 20.498565% 31.30862%;
}

.about__item--price::before {
  width: 47px;
  height: 28px;
  background-position: 46.961146% 56.298674%;
}

.about__item--like::before {
  top: 36px;
  left: 8px;
  width: 33px;
  height: 28px;
  background-position: 36.846722% 49.067841%;
}

.about__item--hand::before {
  left: 3px;
  width: 34px;
  height: 34px;
  background-position: 11.820122% 21.772204%;
}

.about__item--manufacturer::before {
  left: -6px;
  width: 54px;
  height: 23px;
  background-position: 60.342363% 62.916272%;
}

.about__item--present::before {
  top: 29px;
  left: 3px;
  width: 33px;
  height: 33px;
  background-position: 28.547531% 40.949608%;
}
@media (min-width: @tablet-width) {
  .about {
    padding-top: 34px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .about__item {
    width: 50%;
    padding-right: 20px;
    padding-top: 108px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item--flower {
    order: 1;
  }

  .about__item--hand {
    order: 2;
  }

  .about__item--price {
    order: 3;
  }

  .about__item--manufacturer {
    order: 4;
  }

  .about__item--like {
    order: 5;
  }

  .about__item--present {
    order: 6;
  }
}
@media (min-width: @desktop-width) {
  .about {
    padding-top: 27px;
  }

  .about__title {
    padding: 0 175px;
    margin-bottom: -6px;
    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    padding: 0 175px;
  }

  .about__item {
    padding-top: 110px;
  }
}
