.contacts{
  padding-top: 1px;
}

.contacts__title{
  .font(18px, @t-c-b, bold, 30px);
}

.contacts__list{
  display: block;
  border-collapse: collapse;
  .font(15px, @t-c-n, normal, 30px);
}

.contacts__mail{
  .font(15px, @t-c-n, normal, 30px);
}

.contacts__map{
  min-height: 455px;
  background: #dfdfdf url(../img/map-mobile@1x.jpg) no-repeat;
  background-size: cover;
}

.contacts__button{
  display: block;
  margin-top: 35px;
  vertical-align: middle;
  text-align: center;
  line-height: 52px;
  text-decoration: none;
}
