.form__title{
    .font(17px, #63d1bb, bold, 17px);
    text-transform: uppercase;
}

.form__list{
  margin: 20px 0;
}

.form__small{
  .font(14px, @t-c-n, normal, 16px);
}

.form__button{
  width: 100%;
  margin-top: 30px;
  .font(17px, @t-c-n, bold, 52px);
}
