.form-tel {
  margin-top: -8px;
  margin-bottom: 31px;
}

.form-tel__title {
  margin-bottom: 9px;
}

.form-tel__input {
  width: 100%;
  padding: 15px 0;
  .font(17px, @text-color-brown, normal, 18px);
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid @text-color-brown;
  outline: none;
}
@media (min-width: @tablet-width) {
  .form-tel {
    margin: 0;
    padding: 49px 0 20px;
    background-color: #f1f1f1;
  }

  .form-tel__input {
    padding-left: 16px;
    font-size: 19px;
    background-color: #f1f1f1;
  }
}
@media (min-width: @tablet-width) {
  .form-tel__title {
    top: 17px;
  }
}
