.form__title-block {
  position: relative;
  margin: 0 0 29px;
  padding: 0;
  .font(17px, #63d1bb, bold, 17px);
  text-transform: uppercase;
}

.form__list {
  margin-bottom: 40px;
}

.form__footer-wrapper {
  padding-bottom: 50px;
}

.form__footnote {
  .font(14px, @text-color-brown, normal, 16px);
}

.form__button {
  width: 100%;
  margin-top: 30px;
  .font(17px, @text-color-brown, bold, 46px);
}
@media (min-width: @tablet-width) {
  .form__list-wrapper {
    position: relative;
    padding: 0 0 0 167px;
  }

  .form__title-block {
    position: absolute;
    left: 1px;
    top: 7px;
    width: 100px;
    padding: 0;
  }

  .form__footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;
  }

  .form__button {
    width: 230px;
    margin: 0;
  }

  .form__footnote {
    order: 1;
    font-size: 17px;
  }
}
@media (min-width: @desktop-width) {
  .form__list-wrapper {
    position: relative;
    padding: 0 175px;
  }

  .form__title-block {
    left: 60px;
    top: 7px;
  }

  .form__footer-wrapper {
    padding: 0 175px 50px;
  }
}
@media (max-width: @mobile-width-only) {
  .form__title-block::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }
}
