.page-footer{
  background-color: @background-color;
}

.page-footer__wrapper{
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.page-footer__social,
.page-footer__copyright{
  min-height: 80px;
  padding: 30px 0;
}

.page-footer__social{
  border-bottom: 2px solid #e5e5e5;
}

.page-footer__logo-link{
  display: none;
}

@media (min-width: @tablet-width){

  .page-footer__wrapper{
    width: 768px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo-link{
    display: block;
  }
  .page-footer__social{
    border-bottom: 0;
  }
}

@media (min-width: @desktop-width){

  .page-footer__wrapper{
    width: 1150px;
  }
}
