.page-catalog__title-wrapper{
  background-color: @background-color;
}

.page-catalog__title{
  width: 320px;
  padding: 73px 30px;
  margin: 0 auto;
  .font(27px, @text-color-light-black, bold, 30px);
  text-align: center;
}

.page-catalog__list{
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
}

@media (min-width: @tablet-width){

  .page-catalog__list{
    width: 668px;
  }

  .page-catalog__title-wrapper{
    margin-top: -79px;
    border-top: 1px solid #ececec;
  }

  .page-catalog__title{
    width: 768px;
    padding-top: 105px;
  }
}

@media (min-width: @desktop-width){

  .page-catalog__list{
    width: 1050px;
    display: flex;
    justify-content: space-between;
  }

  .page-catalog__title{
    width: 1050px;
  }
}
