.production {
  margin-bottom: 60px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__article {
  width: 260px;
  margin: 0 auto 30px;
  padding: 0 0 30px;
  border: 1px solid #ededed;
}

.production__title {
  position: relative;
  margin-bottom: 4px;
  padding: 11px 5px 20px 90px;
  .font(17px, @text-color-black, bold, 24px);

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 35px;
    width: 32px;
    height: 32px;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-position: 70.75% 70.712401%;
  }
}

.production__video-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  background: #ececec url("../img/video-mobile@1x.jpg") no-repeat center / cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.production__video {
  width: 100%;
  height: 100%;
}

.production__text {
  padding: 27px 33px 25px;
  margin: 0;
  .font(13px, @text-color-brown, normal, 24px);
}

.production__button {
  display: block;
  margin: 0 33px;
  vertical-align: middle;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .production__title::before {
    top: 18px;
    left: 45px;
  }

  .production__article {
    width: 100%;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
  }

  .production__video-wrapper {
    height: 455px;
    order: -1;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .production__title {
    margin-bottom: 4px;
    padding: 24px 5px 20px 105px;
    font-size: 20px;
    line-height: 24px;
  }

  .production__text {
    padding: 8px 39px;
    margin-bottom: 27px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    margin: 0 41px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__title::before {
    top: 29px;
    left: 0;
  }

  .production__article {
    width: 1050px;
    position: relative;
    padding-left: 760px;
    min-height: 455px;
  }

  .production__video-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 682px;
    height: 453px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .production__title {
    padding-left: 0;
    padding-right: 50px;
    padding-top: 85px;
  }

  .production__text {
    margin-bottom: 39px;
    padding-left: 0;
  }

  .production__button {
    margin-left: 0;
    width: 231px;
  }
}
