.production__article{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border: 1px solid #ededed;
}

.production__title{
  .font(17px, @t-c-b, bold, 24px);
}

.production__text{
  .font(13px, @t-c-n, normal, 24px);
}

.production__button{
  display: block;
  margin-top: 35px;
  vertical-align: middle;
  text-align: center;
  line-height: 52px;
  text-decoration: none;
}
