.product {
  position: relative;
  padding-bottom: 6px;
}

.product::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23f1f1f1%22%20width%3D%221150%22%20height%3D%2223%22%20viewBox%3D%220%200%201150%2023%22%3E%3Cpath%20d%3D%22M1150%2023c-9.017%200-13.728-4.589-17.514-8.276-3.412-3.323-5.877-5.724-11.234-5.724-5.358%200-7.823%202.401-11.235%205.724-3.786%203.688-8.497%208.276-17.514%208.276s-13.728-4.589-17.514-8.276c-3.412-3.323-5.877-5.724-11.234-5.724s-7.822%202.401-11.234%205.724c-3.786%203.688-8.497%208.276-17.514%208.276s-13.729-4.589-17.515-8.276C1014.08%2011.401%201011.615%209%201006.257%209c-5.357%200-7.822%202.401-11.234%205.724-3.787%203.687-8.498%208.276-17.514%208.276s-13.728-4.589-17.514-8.276C956.583%2011.401%20954.118%209%20948.761%209s-7.822%202.401-11.234%205.724C933.74%2018.411%20929.028%2023%20920.012%2023s-13.729-4.589-17.515-8.276C899.085%2011.401%20896.62%209%20891.263%209s-7.822%202.401-11.234%205.724C876.242%2018.411%20871.53%2023%20862.514%2023s-13.729-4.589-17.515-8.276C841.587%2011.401%20839.122%209%20833.764%209c-5.355%200-7.82%202.4-11.231%205.723-3.786%203.688-8.497%208.277-17.512%208.277-9.017%200-13.729-4.589-17.515-8.276C784.094%2011.401%20781.629%209%20776.271%209c-5.356%200-7.821%202.401-11.232%205.723-3.786%203.688-8.497%208.277-17.513%208.277-9.017%200-13.729-4.589-17.514-8.277C726.602%2011.401%20724.137%209%20718.779%209s-7.821%202.401-11.233%205.723C703.761%2018.411%20699.049%2023%20690.032%2023c-9.016%200-13.727-4.589-17.512-8.276C669.109%2011.401%20666.645%209%20661.287%209s-7.822%202.401-11.234%205.724C646.267%2018.411%20641.556%2023%20632.539%2023s-13.729-4.589-17.515-8.276C611.612%2011.401%20609.147%209%20603.788%209c-5.357%200-7.822%202.401-11.234%205.724C588.768%2018.411%20584.057%2023%20575.04%2023c-9.016%200-13.728-4.589-17.514-8.276C554.115%2011.401%20551.65%209%20546.292%209s-7.823%202.401-11.234%205.724C531.272%2018.411%20526.561%2023%20517.544%2023s-13.729-4.589-17.514-8.276C496.619%2011.401%20494.153%209%20488.796%209c-5.358%200-7.823%202.401-11.235%205.724-3.787%203.687-8.499%208.276-17.515%208.276-9.017%200-13.729-4.589-17.516-8.276C439.118%2011.401%20436.653%209%20431.293%209c-5.358%200-7.823%202.401-11.235%205.724C416.272%2018.411%20411.56%2023%20402.543%2023s-13.729-4.589-17.515-8.276C381.616%2011.401%20379.151%209%20373.792%209c-5.358%200-7.823%202.401-11.235%205.724-3.786%203.687-8.498%208.276-17.515%208.276s-13.729-4.589-17.515-8.276C324.114%2011.401%20321.649%209%20316.291%209s-7.824%202.401-11.236%205.724C301.269%2018.411%20296.556%2023%20287.539%2023c-9.018%200-13.729-4.589-17.516-8.276C266.611%2011.401%20264.145%209%20258.786%209c-5.357%200-7.822%202.401-11.234%205.724-3.785%203.687-8.497%208.276-17.513%208.276-9.017%200-13.729-4.589-17.515-8.276C209.112%2011.401%20206.647%209%20201.289%209s-7.824%202.401-11.236%205.724C186.267%2018.411%20181.555%2023%20172.538%2023c-9.018%200-13.73-4.589-17.517-8.276C151.609%2011.401%20149.144%209%20143.784%209s-7.825%202.401-11.238%205.724c-3.787%203.687-8.5%208.276-17.517%208.276-9.018%200-13.73-4.589-17.517-8.276C94.099%2011.401%2091.633%209%2086.273%209s-7.826%202.401-11.239%205.724C71.249%2018.411%2066.536%2023%2057.518%2023%2048.5%2023%2043.787%2018.412%2040%2014.724%2036.586%2011.401%2034.12%209%2028.759%209s-7.827%202.401-11.24%205.724C13.732%2018.411%209.019%2023%200%2023v-9c5.361%200%207.827-2.401%2011.241-5.724C15.028%204.588%2019.741%200%2028.759%200S42.49%204.588%2046.278%208.276C49.691%2011.599%2052.157%2014%2057.518%2014c5.36%200%207.825-2.401%2011.238-5.724C72.543%204.589%2077.255%200%2086.273%200s13.73%204.589%2017.517%208.276c3.413%203.323%205.879%205.724%2011.239%205.724s7.826-2.401%2011.238-5.724C130.054%204.589%20134.767%200%20143.784%200s13.73%204.589%2017.517%208.276c3.412%203.323%205.878%205.724%2011.237%205.724%205.358%200%207.824-2.401%2011.236-5.724C187.56%204.589%20192.272%200%20201.289%200c9.017%200%2013.729%204.589%2017.515%208.276%203.412%203.323%205.877%205.724%2011.235%205.724%205.357%200%207.822-2.401%2011.234-5.724C245.059%204.589%20249.77%200%20258.786%200c9.017%200%2013.729%204.589%2017.516%208.276C279.714%2011.599%20282.18%2014%20287.539%2014s7.824-2.401%2011.236-5.724C302.562%204.589%20307.274%200%20316.291%200c9.017%200%2013.729%204.589%2017.515%208.276%203.412%203.323%205.877%205.724%2011.236%205.724%205.359%200%207.824-2.401%2011.236-5.724C360.063%204.589%20364.775%200%20373.792%200s13.729%204.589%2017.516%208.276C394.72%2011.599%20397.185%2014%20402.543%2014s7.823-2.401%2011.235-5.724C417.565%204.589%20422.277%200%20431.293%200c9.018%200%2013.729%204.589%2017.516%208.276%203.412%203.323%205.877%205.724%2011.236%205.724%205.358%200%207.823-2.401%2011.235-5.724C475.067%204.589%20479.779%200%20488.796%200c9.016%200%2013.728%204.589%2017.514%208.276%203.412%203.323%205.877%205.724%2011.235%205.724%205.357%200%207.822-2.401%2011.234-5.724C532.564%204.589%20537.275%200%20546.292%200c9.016%200%2013.728%204.589%2017.514%208.276C567.217%2011.599%20569.682%2014%20575.04%2014c5.357%200%207.822-2.401%2011.234-5.724C590.061%204.589%20594.771%200%20603.788%200c9.018%200%2013.729%204.589%2017.516%208.276%203.412%203.323%205.877%205.724%2011.235%205.724%205.357%200%207.822-2.401%2011.234-5.724C647.56%204.589%20652.271%200%20661.287%200s13.728%204.589%2017.513%208.277C682.211%2011.6%20684.676%2014%20690.032%2014c5.357%200%207.822-2.401%2011.234-5.724C705.052%204.589%20709.764%200%20718.779%200s13.728%204.589%2017.513%208.276c3.412%203.323%205.877%205.724%2011.234%205.724%205.356%200%207.821-2.401%2011.232-5.723C762.544%204.589%20767.255%200%20776.271%200c9.017%200%2013.729%204.589%2017.515%208.276%203.412%203.323%205.877%205.724%2011.235%205.724%205.356%200%207.821-2.401%2011.232-5.724C820.038%204.589%20824.749%200%20833.764%200c9.017%200%2013.729%204.589%2017.515%208.276C854.69%2011.599%20857.155%2014%20862.514%2014s7.823-2.401%2011.235-5.724C877.535%204.589%20882.247%200%20891.263%200c9.017%200%2013.728%204.589%2017.514%208.276%203.412%203.323%205.877%205.724%2011.235%205.724s7.823-2.401%2011.235-5.724C935.033%204.589%20939.744%200%20948.761%200s13.728%204.589%2017.514%208.276c3.412%203.323%205.877%205.724%2011.234%205.724s7.822-2.401%2011.234-5.724C992.529%204.589%20997.24%200%201006.257%200s13.729%204.589%2017.515%208.276c3.412%203.323%205.877%205.724%2011.235%205.724%205.357%200%207.822-2.401%2011.234-5.724%203.786-3.688%208.497-8.276%2017.514-8.276s13.728%204.589%2017.514%208.276c3.412%203.323%205.877%205.724%2011.234%205.724s7.822-2.401%2011.234-5.724c3.786-3.688%208.498-8.276%2017.515-8.276s13.728%204.589%2017.514%208.276C1142.178%2011.599%201144.643%2014%201150%2014v9z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: repeat-x;
  background-size: 350px;
}

.product__wrapper {
  padding-top: 26px;
}

.product__title {
  margin-top: 0;
  margin-bottom: 5px;
  .font-title-section;
}

.product__stock {
  .font(17px, #63d1bb, bold, 17px);
  text-transform: uppercase;
}

.product__description {
  margin: 23px 0 17px;
  .font(15px, @text-color-brown, normal, 24px);
}

.product__list {
  margin-bottom: 28px;
  border-collapse: collapse;
}

.product__item {
  border-bottom: 1px solid #ececec;
}

.product__parameter,
.product__value {
  padding: 10px 25px 9px 0;
}

.product__parameter {
  min-width: 97px;
}

.product__value {
  min-width: 160px;
}

.product__price {
  margin: 21px 0 26px;
  .font(17px, @text-color-brown, bold, 24px);
  text-align: center;
}

.product__image-wrapper {
  overflow: hidden;
}

.product__image {
  width: 100%;
}

.product__button {
  width: 100%;
  min-height: 52px;
  margin-bottom: 35px;
  font-size: 17px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .product {
    padding-bottom: 70px;
  }

  .product::before {
    height: 17px;
    background-size: contain;
  }

  .product__wrapper {
    padding-top: 46px;
  }

  .product__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .product__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .product__stock {
    width: 75px;
    margin-right: 25px;
    margin-top: 5px;
    text-align: center;
  }

  .product__description-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 378px;
  }

  .product__description {
    margin-top: 0;
    margin-bottom: 34px;
    .font(17px, @text-color-brown, normal, 30px);
  }

  .product__parameter {
    min-width: 80px;
    padding-right: 12px;
  }

  .product__list {
    width: 100%;
    margin-bottom: 35px;
    .font(15px, @text-color-brown, normal, 20px);
  }

  .product__image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 333px;
    height: 404px;
  }

  .product__price {
    margin-bottom: 35px;
    .font(20px, @text-color-brown, bold, 24px);
  }

  .product__button {
    margin-bottom: 0;
    .font(17px, @text-color-brown, bold, 20px);
  }
}

@media (min-width: @desktop-width) {
  .product {
    padding-top: 77px;
    padding-bottom: 95px;
  }

  .product::before {
    height: 23px;
    background-size: contain;
  }

  .product__wrapper {
    position: relative;
    padding-left: 175px;
  }

  .product__title-wrapper {
    margin-bottom: 50px;
  }

  .product__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product__stock {
    position: absolute;
    top: 56px;
    left: 45px;
  }

  .product__description-wrapper {
    position: relative;
    padding-right: 584px;
  }

  .product__description {
    margin-bottom: 46px;
  }

  .product__list {
    margin-bottom: 90px;
  }

  .product__image-wrapper {
    width: 525px;
    height: 638px;
    z-index: -1;
  }
}
