.production {
  margin-bottom: 60px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
  }
}

.production__article {
  width: 260px;
  margin: 0 auto 30px;
  padding: 0 0 30px;
  border: 1px solid #ededed;
}

.production__title {
  position: relative;
  margin-bottom: 4px;
  padding: 11px 5px 20px 90px;
  .font(17px, @text-color-black, bold, 24px);

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 35px;
    width: 32px;
    height: 32px;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-position: 70.75% 70.712401%;
  }
}

.production__video-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  background: #ececec url("../img/video-mobile@1x.jpg") no-repeat center / cover;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.production__video {
  width: 100%;
  height: 100%;
}

.video__toggler {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 78px;
  margin-top: -39px;
  margin-left: -51px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100.678%22%20height%3D%2276.891%22%20viewBox%3D%22247.3%20382.56%20100.678%2076.891%22%3E%3Cpath%20fill%3D%22%2363D1BB%22%20d%3D%22M344.255%20400.708s-.92-7.008-3.785-10.078c-3.632-4.041-7.674-4.066-9.541-4.297-13.326-1.023-33.303-1.023-33.303-1.023h-.051s-19.978%200-33.304%201.023c-1.867.23-5.908.256-9.54%204.297-2.84%203.096-3.786%2010.078-3.786%2010.078s-.896%208.211-.896%2016.422v7.699c0%208.21.947%2016.421.947%2016.421s.921%207.009%203.785%2010.078c3.632%204.041%208.364%203.913%2010.487%204.349%207.622.767%2032.356%201.022%2032.356%201.022s20.003-.025%2033.329-1.048c1.867-.23%205.908-.256%209.54-4.298%202.84-3.069%203.786-10.078%203.786-10.078s.946-8.21.946-16.421v-7.699c-.023-8.236-.97-16.447-.97-16.447z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M297.614%20459.449h-.016c-1.015-.011-24.946-.266-32.604-1.037l-.14-.014-.137-.028c-.271-.056-.668-.107-1.126-.167-2.503-.328-7.159-.938-10.839-5.019-3.354-3.616-4.377-10.771-4.483-11.576l-.005-.043c-.039-.342-.965-8.463-.965-16.736v-7.699c0-8.266.875-16.378.912-16.72l.009-.071c.108-.802%201.155-7.928%204.474-11.557%203.996-4.439%208.531-4.899%2010.712-5.121.192-.02.37-.037.529-.058l.126-.013c13.277-1.019%2033.312-1.031%2033.514-1.031h.051c.201%200%2020.236.013%2033.514%201.031l.126.013c.159.021.337.038.529.058%202.179.221%206.71.682%2010.704%205.112%203.354%203.616%204.377%2010.771%204.483%2011.577l.005.043c.039.342.965%208.459.99%2016.753v7.708c0%208.273-.926%2016.395-.965%2016.736l-.007.053c-.108.805-1.156%207.953-4.478%2011.562-3.994%204.435-8.527%204.896-10.707%205.117-.193.02-.371.037-.53.057l-.126.013c-13.276%201.02-33.334%201.057-33.535%201.058l-.015-.001zm-31.944-6.497c7.477.729%2031.216.989%2031.968.997.657-.001%2020.135-.049%2033.047-1.036.178-.021.371-.041.58-.062%201.836-.186%204.608-.468%207.186-3.335l.026-.029c1.825-1.974%202.853-6.928%203.075-8.552.059-.514.926-8.358.926-16.08v-7.699c-.023-7.76-.896-15.627-.951-16.109-.32-2.382-1.434-6.789-3.066-8.539l-.035-.038c-2.577-2.868-5.351-3.149-7.186-3.336a34.367%2034.367%200%200%201-.58-.062c-13.066-.998-32.834-1.011-33.033-1.011h-.051c-.198%200-19.967.013-33.033%201.011a33.29%2033.29%200%200%201-.58.062c-1.835.187-4.607.468-7.186%203.336l-.019.021c-1.828%201.993-2.855%206.924-3.082%208.552-.062.591-.875%208.399-.875%2016.089v7.699c0%207.749.871%2015.598.926%2016.083.32%202.381%201.433%206.789%203.066%208.539l.035.039c2.322%202.584%205.303%202.975%207.479%203.259.481.061.939.121%201.363.201z%22%2F%3E%3Cg%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M285.733%20403.138v35.708l29.747-17.854z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.video__toggler:hover {
  transform: scale(1.2);
}

.video__toggler:active {
  transform: scale(0.8);
  opacity: 0.3;
}

.production__text {
  padding: 27px 33px 25px;
  margin: 0;
  .font(13px, @text-color-brown, normal, 24px);
}

.production__button {
  display: block;
  margin: 0 33px;
  vertical-align: middle;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
}
@media (min-width: @tablet-width) {
  .production__title::before {
    top: 18px;
    left: 45px;
  }

  .production__article {
    width: 100%;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
  }

  .production__video-wrapper {
    height: 455px;
    order: -1;
    background-image: url("../img/video-tablet@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .production__title {
    margin-bottom: 4px;
    padding: 24px 5px 20px 105px;
    font-size: 20px;
    line-height: 24px;
  }

  .production__text {
    padding: 8px 39px;
    margin-bottom: 27px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    margin: 0 41px;
  }
}
@media (min-width: @desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__title::before {
    top: 29px;
    left: 0;
  }

  .production__article {
    width: 1050px;
    position: relative;
    padding-left: 760px;
    min-height: 455px;
  }

  .production__video-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 682px;
    height: 453px;
    background-image: url("../img/video-desktop@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .production__title {
    padding-left: 0;
    padding-right: 50px;
    padding-top: 85px;
  }

  .production__text {
    margin-bottom: 39px;
    padding-left: 0;
  }

  .production__button {
    margin-left: 0;
    width: 231px;
  }
}
